@import url("../../vars.css");


.project-container{
    color: var(--color-text);
    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;
}


.project-content{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    gap: 17px;
    /* background: #19376d;
    background: linear-gradient(90deg, #19376d 0%, rgba(25,55,109,0)100%); */
    border-radius: 10px;
    /* padding: 24px; */
}

.project-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 17px;
    background: #19376d;
    background: linear-gradient(90deg, #19376d 0%, rgba(25,55,109,0)100%);
    border-radius: 10px;
    padding: 24px;
}


.techstack{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 6px;
    list-style: none;
    font-size: 18px;
    list-style-type: disc;
}

.techstack li{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* gap: 20px; */
    background-color: #071837;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
}



.img-container {
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 10px; /* optional for rounded corners */
  }

  .project-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 10px;
  }

p{
    font-size: 16px;
    font-weight: 300;
    color: var(--color-text);
}

.buttons{
    margin-top: 10px;
    display: flex;
    gap: 20px;
    text-align: center;
}

.buttons a{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;
    border: 0.2px solid rgb(139, 139, 139);
    background: #081f49;
    /* padding: 10px 10px; */
    border-radius: 100px;
    /* border: 1px solid white; */
    padding: 5px 15px;
    font-size: 16px;
    color: var(--color-text);
    text-decoration: none;
}

.buttons img{
    width: 20px;
}




@media screen and (max-width: 830px){

    .project-content{
        display: flex;
        flex-direction: column;
    }

}

