@import url(../../vars.css);

.about-container{
    position: relative;
    /* background-color: rgba(12, 12, 12, 0.6); */
    border-radius: 15px;
    /* padding: 73px 0; */
    /* margin-top: 129px; */
    z-index: 1;
    padding-left: 10%;
    padding-right: 10%;
    /* margin-left: 10%;
    margin-right: 10%; */
}
.section-title{
    /* color: rgb(165, 165, 165); */
    color: #687895;
  /* -webkit-text-fill-color: transparent;
  background-clip: text; */
    font-size: 35px;
    font-weight: 300;
    /* letter-spacing: 7px; */
    /* text-transform: uppercase; */
}

.about-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}


.image{
    width: 40%;
}

.about-list{
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-list img{
    width: 50px;
    height: 50px;
    
}

.about-item{
    display: flex;
    flex-direction: row;
    align-items: top;
    border-radius: 20px;
    list-style: none;
    gap: 23px;
    padding: 25px;
    background: #19376d;
    background: linear-gradient(90deg, #19376d 0%, rgba(25,55,109,0)100%);
    /* background-image: linear-gradient(90deg, rgba(165,215,232,0.42)0%, rgba(255,255,255,0)100%); */
    /* background-size: 0 100%; */
}

/* .about-item:hover{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */

.about-item h3{
    font-size: 24px;
    font-weight: 500;
}

.about-item p{
    font-size: 16px;
    color: #d0d0d0;
}

@media  screen and (max-width: 830px) {
    .about-container{
        background-color: transparent;
        padding-left: 10%;
        padding-right: 10%;
    }

    .about-content{
        flex-direction: column;
        /* align-items: center; */
    }

    .image{
        display: none;
    }

    .about-list{
        margin-top: 29px;
    }

    .about-item{
        padding-left: 20px;
        padding-right: 20px;
    }
}