
@import url(../../vars.css);


.navbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    z-index: 2;
    margin: 0 10%;
}


.title{

    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);

}

.menu{
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.menu-items{
    display: flex;
    list-style: none;
    gap: 47px;
    text-decoration: none;
}

.menu-items a{
    font-size: 16px;
    color: var(--color-text);
    text-decoration: none;
}

.menu img{
    width: 20px;
    cursor: pointer;
}

.menu-icon{
    display: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}


@media screen and (max-width: 830px) {

    .title{
        font-size: 16px;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .menu{
        position: absolute;
        right: 0;
        margin-right: 10%;  
        flex-direction: column;
        align-items: flex-end;
        gap: 15px;
        z-index: 1;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }

    .menu-items{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 13px;
        padding: 24px 33px;
        border-radius: 10px;
        background: rgb(25, 55, 109);
        background: linear-gradient(0deg, rgba(25, 55, 109, 0.2) 0%, rgba(25, 55, 109, 1) 100%);
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
        z-index: 1;
    }

    .menuOpen{
        display: flex;
        z-index: 1;
    }

    .menu img{
        display: none;
    }
}